<a href="https://colab.research.google.com/github/RESHMADUTTA/DEMO/blob/main/reshma_datascience_junebatch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Problem 1
# In a cricket tournament, based on the outcome of a particular match a team gets following points:

# wins gets 7 points
# draws gets 2 points
# losses gets 0 points
# Team Aravali plays 8 matches in this tournament. It wins 4 matches, loses 3 matches and draws 1. What is the total number of points gained by the Team aravali ?


# a) The outcome variables are defined below?
# b) Calculate the total points gained by Team Aravali and print.

points_win = 7
points_draw = 2
points_loss = 0

matches_won = 4
matches_lost = 3
matches_drawn = 1

total_points = (matches_won * points_win) + (matches_drawn * points_draw) + (matches_lost * points_loss)

print(f"Total points gained by Team Aravali: {total_points}")

Total points gained by Team Aravali: 30

In [2]:
# Problem 2
# Root of a function  f(x)  is defined as the value  x  where  f(x)=0
# Consider a quadratic function  f(x)=x2+3x−4
# Find the value of the function  f(x)  at points  x=7,x=−1,x=1 .
#   a)Calculate the value of the function f(x) at x = 2.
#   b) Calculate the value of the function f(x) at x = 1

def f(x):
    return x**2 + 3*x - 4

x_values = [7, -1, 1, 2]

results = {x: f(x) for x in x_values}
results

{7: 66, -1: -6, 1: 0, 2: 6}

In [3]:
# Problem 3
# A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

# a) A list containing average daily temperature over a week
# temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# b) The expected output



# c)Store the highest temperature


# d) Index of the element with the highest temperature
# max_temp_index =


# e) Store the lowest temperature
# min_temp =

# f) Index of the element with the lowest temperature
# min_temp_index =

temperatures = [34, 40, 29, 33, 42, 37, 39]

max_temp = max(temperatures)

max_temp_index = temperatures.index(max_temp)

min_temp = min(temperatures)

min_temp_index = temperatures.index(min_temp)

temperatures[max_temp_index], temperatures[min_temp_index] = min_temp, max_temp

print(f"Temperatures after swapping: {temperatures}")

Temperatures after swapping: [34, 40, 42, 33, 29, 37, 39]

In [4]:
# problem 4

# Calculate the median price

# a) Step 1 - Obtain the sorted list
# b)Check if the number of elements in the list is even or odd
# c)Use the corresponding formula to calculate the median and print the median
# d) Check which is greater, mean or median

import statistics
prices = [12, 34, 23, 45, 33, 67, 56, 78, 44, 21]
sorted_prices = sorted(prices)
n = len(sorted_prices)
is_even = n % 2 == 0
if is_even:
    median = (sorted_prices[n//2 - 1] + sorted_prices[n//2]) / 2
else:
    median = sorted_prices[n//2]

print(f"Median price: {median}")

# Calculate the mean
mean = sum(prices) / n

if mean > median:
    print(f"The mean ({mean}) is greater than the median ({median}).")
elif mean < median:
    print(f"The median ({median}) is greater than the mean ({mean}).")
else:
    print(f"The mean ({mean}) is equal to the median ({median}).")

Median price: 39.0
The mean (41.3) is greater than the median (39.0).

In [5]:
# Problem 5
# Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector.
#  While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

# a)The list of tech companies curated by the individual
# tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

tech_companies = ['Qualcomm', 'Google', 'Apple', ['Nvidia', 'Cisco', 'Samsung']]
flattened_tech_companies = tech_companies[:-1] + tech_companies[-1]
print(f"Flattened list of tech companies: {flattened_tech_companies}")

Flattened list of tech companies: ['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [6]:
# Problem 6
# Another measure of average
# Mode is defined as the value that appears most often in a set of data values. Mode corresponds to the most frequent value.
# You are given a list of numbers and you need to calculate the mode of this list.

#  A list containing average daily temperature over 10 days
# temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

import statistics
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34, 33]
mode = statistics.mode(temperatures)
print(f"The mode of the temperatures is: {mode}")

The mode of the temperatures is: 34